include README.md
include LICENSE
include CONTRIBUTING.md
include SECURITY.md
recursive-include src/hippos/resources/queries *.scm
recursive-include src/hippos/resources/prompts *.md
recursive-include src/hippos/resources/templates *.html
